.item1{
background-color: red;
margin: 10px;
text-align: center;
}


@media screen and (min-width:576px){
    .item1{
        display: inline-flex;
        justify-content: center;
        margin: 2px;
        font-family:'Times New Roman', Times, serif;
    }
    p{
        text-align:start;
    }
}